.social {
  list-style: none;
  padding: 0;
  margin: 0 0 33px -10px;
  display: flex;
  align-items: center;
  @include response(1200px) {
    justify-content: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
  li {
    position: relative;
  }
  a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    @include desktop-hover() {
      transform: translateY(-2px);
      svg {
        fill: #fff;
      }
    }
    svg {
      fill: #7e7c9f;
      transition: 0.3s ease-in-out;
    }
  }
}
