<header class="header">
  <div class="header__box">
    <div class="header__left">
      <div class="header__logo">
        <picture class="header__logo-img">
          <source srcset="data/logo-mobile.svg" media="(max-width: 1200px)">
          <img src="data/logo.svg" width="235" height="33" alt="logo">
        </picture>
        <a href="#" class="header__logo-link"></a>
        <div class="header__logo-title">affiliate program</div>
      </div>
    </div>
    <div class="header__center">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li><a href="#advantages">Advantages</a></li>
          <li><a href="#commissions">Commissions</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <a href="https://bitonaffiliates.com/ru/sign-up" class="header__sing-up">sing up</a>
      <a href="https://bitonaffiliates.com/ru/sign-in" class="header__sing-in">sing in</a>
    </div>
  </div>
</header>